  <h5>Movies List</h5> | <h5>Movies List</h5> 

<table style="width:100%;">
    <thead>
      <tr>
        <!-- <th>id</th> -->
        <th>Customer id</th>
        <th>Tickets</th>
        <!-- <th>Movie id</th> -->
        <th>Movie name</th>
        <th>Movie time</th>
        <th>Theatre</th>
        <th>Screen</th>
        <th>City</th>
        <th>Movie date</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Ticket price</th>
        <th> </th>
        <th> </th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <!-- <td>{{booking.id}}</td> -->
        <td>{{booking.customer_id}}</td>
        <td>{{booking.tickets}}</td>
        <!-- <td>{{booking.movie_id}}</td> -->
        <td>{{booking.movie_name}}</td>
        <td>{{booking.movie_time}}</td>
        <td>{{booking.theatre}}</td>
        <td>{{booking.screen}}</td>
        <td>{{booking.city}}</td>
        <td>{{booking.movie_date}}</td>
        <td>{{booking.date}}</td>
        <td>{{booking.amount}}</td>
        <td>{{booking.ticket_price}}</td> 
        <td><input type="button" value="Delete" (click)=" onDelete(booking)" style="background:red;color:#fff;"></td>
        <td><input type="button" value="update" (click)="updateBooking()" style="background:green;color:#fff;"></td>
      </tr> 
    </tbody>
    
  </table>
 
 